<section class="mt-5">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>País</th>
          <th>Región</th>
          <th>Capital</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- fila 1 -->
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://flagcdn.com/w80/us.png"
                    alt="Bandera de Estados Unidos" />
                </div>
              </div>
              <div>
                <div class="font-bold">Estados Unidos</div>
                <div class="text-sm opacity-50">América del Norte</div>
              </div>
            </div>
          </td>
          <td>Zona Este</td>
          <td>Washington D.C.</td>
          <th>
            <button class="btn btn-ghost btn-xs">detalles</button>
          </th>
        </tr>
        <!-- fila 2 -->
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://flagcdn.com/w80/cn.png"
                    alt="Bandera de China" />
                </div>
              </div>
              <div>
                <div class="font-bold">China</div>
                <div class="text-sm opacity-50">Asia Oriental</div>
              </div>
            </div>
          </td>
          <td>Beijing Municipality</td>
          <td>Beijing</td>
          <th>
            <button class="btn btn-ghost btn-xs">detalles</button>
          </th>
        </tr>
        <!-- fila 3 -->
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://flagcdn.com/w80/ru.png"
                    alt="Bandera de Rusia" />
                </div>
              </div>
              <div>
                <div class="font-bold">Rusia</div>
                <div class="text-sm opacity-50">Europa Oriental</div>
              </div>
            </div>
          </td>
          <td>Distrito Central</td>
          <td>Moscú</td>
          <th>
            <button class="btn btn-ghost btn-xs">detalles</button>
          </th>
        </tr>
        <!-- fila 4 -->
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://flagcdn.com/w80/br.png"
                    alt="Bandera de Brasil" />
                </div>
              </div>
              <div>
                <div class="font-bold">Brasil</div>
                <div class="text-sm opacity-50">América del Sur</div>
              </div>
            </div>
          </td>
          <td>Centro-Oeste</td>
          <td>Brasilia</td>
          <th>
            <button class="btn btn-ghost btn-xs">detalles</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

</section>
