<section class="mt-5">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>País</th>
          <th>Región</th>
          <th>Capital</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- fila 1 -->
        <!-- Agregado a continuación de la fila de Brasil -->
        <!-- fila 5 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/fr.png" alt="Bandera de Francia" />
                </div>
              </div>
              <div>
                <div class="font-bold">Francia</div>
                <div class="text-sm opacity-50">Europa Occidental</div>
              </div>
            </div>
          </td>
          <td>Isla de Francia</td>
          <td>París</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>

        <!-- fila 6 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/jp.png" alt="Bandera de Japón" />
                </div>
              </div>
              <div>
                <div class="font-bold">Japón</div>
                <div class="text-sm opacity-50">Asia Oriental</div>
              </div>
            </div>
          </td>
          <td>Kantō</td>
          <td>Tokio</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>

        <!-- fila 7 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/de.png" alt="Bandera de Alemania" />
                </div>
              </div>
              <div>
                <div class="font-bold">Alemania</div>
                <div class="text-sm opacity-50">Europa Central</div>
              </div>
            </div>
          </td>
          <td>Berlín</td>
          <td>Berlín</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>

        <!-- fila 8 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/in.png" alt="Bandera de India" />
                </div>
              </div>
              <div>
                <div class="font-bold">India</div>
                <div class="text-sm opacity-50">Asia Meridional</div>
              </div>
            </div>
          </td>
          <td>Territorio Capital Nacional</td>
          <td>Nueva Delhi</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>

        <!-- fila 9 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/gb.png" alt="Bandera del Reino Unido" />
                </div>
              </div>
              <div>
                <div class="font-bold">Reino Unido</div>
                <div class="text-sm opacity-50">Europa Occidental</div>
              </div>
            </div>
          </td>
          <td>Inglaterra</td>
          <td>Londres</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>

        <!-- fila 10 -->
        <tr>
          <th>
            <label><input type="checkbox" class="checkbox" /></label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="https://flagcdn.com/w80/za.png" alt="Bandera de Sudáfrica" />
                </div>
              </div>
              <div>
                <div class="font-bold">Sudáfrica</div>
                <div class="text-sm opacity-50">África Austral</div>
              </div>
            </div>
          </td>
          <td>Gauteng</td>
          <td>Pretoria</td>
          <th><button class="btn btn-ghost btn-xs">detalles</button></th>
        </tr>
      </tbody>
    </table>
  </div>

</section>
